In [102]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [103]:
train=pd.read_csv(r'C:\Users\hp\Desktop\Dataset\Train.csv')
test=pd.read_csv(r'C:\Users\hp\Desktop\Dataset\Test.csv')

In [104]:
traina=train.copy()
testa=test.copy()

In [105]:
traina.drop(['Employee_ID'],inplace=True,axis=1)
testa.drop(['Employee_ID'],inplace=True,axis=1)

In [106]:
traina['Time_of_service'].fillna(round(traina['Time_of_service'].mean()), inplace=True)
traina['Age']=traina.apply(lambda row:row['Time_of_service']+26 if np.isnan(row['Age']) else row['Age'],axis=1)
traina['Work_Life_balance'].fillna(1.0,inplace=True)
traina['VAR2'].fillna(0.7516,inplace=True)
traina['VAR4'].fillna(2.0,inplace=True)
traina['Pay_Scale'].fillna(8.0,inplace=True)

In [107]:
testa['Time_of_service'].fillna(round(testa['Time_of_service'].mean()), inplace=True)
testa['Age']=testa.apply(lambda row:row['Time_of_service']+26 if np.isnan(row['Age']) else row['Age'],axis=1)
testa['Work_Life_balance'].fillna(1.0,inplace=True)
testa['VAR2'].fillna(0.7516,inplace=True)
testa['VAR4'].fillna(2.0,inplace=True)
testa['Pay_Scale'].fillna(8.0,inplace=True)

In [108]:
X=traina[['Gender','Age', 'Education_Level','Relationship_Status','Hometown', 'Unit','Time_of_service', 'Time_since_promotion', 'growth_rate', 'Travel_Rate',
       'Post_Level', 'Pay_Scale', 'Compensation_and_Benefits',
       'Work_Life_balance', 'VAR1', 'VAR2', 'VAR3','VAR4','VAR5', 'VAR6',
       'VAR7']]
Y=traina['Attrition_rate']

In [109]:
testa=testa[['Gender','Age', 'Education_Level','Relationship_Status','Hometown', 'Unit','Time_of_service', 'Time_since_promotion', 'growth_rate', 'Travel_Rate',
       'Post_Level', 'Pay_Scale', 'Compensation_and_Benefits',
       'Work_Life_balance', 'VAR1', 'VAR2', 'VAR3','VAR4','VAR5', 'VAR6',
       'VAR7']]

In [110]:
X=pd.get_dummies(X,columns=['Gender','Relationship_Status','Hometown','Unit','Compensation_and_Benefits','VAR2'])

In [111]:
testa=pd.get_dummies(testa,columns=['Gender','Relationship_Status','Hometown','Unit','Compensation_and_Benefits','VAR2'])

In [112]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.10,random_state=25)

In [113]:
from sklearn.linear_model import Ridge

lin_reg = Ridge(normalize=True)
lin_reg.fit(X_train,Y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None, normalize=True,
      random_state=None, solver='auto', tol=0.001)

In [114]:
from sklearn import metrics
res=lin_reg.predict(X_test)
rmse = np.sqrt(metrics.mean_squared_error(Y_test, res))
rmse

0.18974601887986492

In [115]:
sub2=lin_reg.predict(testa)

In [116]:
results=pd.Series(sub2,name='Attrition_rate')
results=pd.concat([test['Employee_ID'],results],axis=1)
results

     Employee_ID  Attrition_rate
0      EID_22713        0.203412
1       EID_9658        0.195093
2      EID_22203        0.186960
3       EID_7652        0.217653
4       EID_6516        0.192482
...          ...             ...
2995   EID_22547        0.192164
2996   EID_10066        0.182559
2997    EID_7126        0.175947
2998    EID_4929        0.174237
2999   EID_24750        0.187967

[3000 rows x 2 columns]

In [178]:
results.to_csv("ridge1.csv",index=False)

In [118]:
toptree=pd.read_csv(r'C:\Users\hp\Desktop\useless\pra1.csv')

In [119]:
top=pd.read_csv(r'C:\Users\hp\Desktop\useless\ans3.csv')

In [121]:
toptree['Attrition_rate']

0       0.193846
1       0.199219
2       0.172710
3       0.193037
4       0.192041
          ...
2995    0.200872
2996    0.176230
2997    0.184504
2998    0.197194
2999    0.203910
Name: Attrition_rate, Length: 3000, dtype: float64

In [171]:
results['Attrition_rate']=top['Attrition_rate']*0.25+0.75*sub3
results['Attrition_rate']

0       0.194092
1       0.189672
2       0.189979
3       0.194428
4       0.192938
          ...
2995    0.192249
2996    0.191011
2997    0.189076
2998    0.185732
2999    0.190084
Name: Attrition_rate, Length: 3000, dtype: float64

In [173]:
from sklearn.linear_model import ElasticNet

In [174]:
lin_reg = ElasticNet(normalize=True)
lin_reg.fit(X_train,Y_train)

ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=True, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [175]:
from sklearn import metrics
res=lin_reg.predict(X_test)
rmse = np.sqrt(metrics.mean_squared_error(Y_test, res))
rmse

0.18953170904121533

In [176]:
sub3=lin_reg.predict(testa)

In [177]:
results=pd.Series(sub3,name='Attrition_rate')
results=pd.concat([test['Employee_ID'],results],axis=1)
results['Attrition_rate'].value_counts()

0.189245    3000
Name: Attrition_rate, dtype: int64