In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import *
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import lightgbm as ltb
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
from math import sqrt

In [2]:
train=pd.read_csv(r'C:\Users\rajic\OneDrive\Documents\contest\contest 2\Dataset\Train.csv')
test=pd.read_csv(r'C:\Users\rajic\OneDrive\Documents\contest\contest 2\Dataset\Test.csv')

In [3]:
train.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,...,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,...,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,...,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,...,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,...,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827

In [4]:
train.dtypes

Employee_ID                   object
Gender                        object
Age                          float64
Education_Level                int64
Relationship_Status           object
Hometown                      object
Unit                          object
Decision_skill_possess        object
Time_of_service              float64
Time_since_promotion           int64
growth_rate                    int64
Travel_Rate                    int64
Post_Level                     int64
Pay_Scale                    float64
Compensation_and_Benefits     object
Work_Life_balance            float64
VAR1                           int64
VAR2                         float64
VAR3                         float64
VAR4                         float64
VAR5                           int64
VAR6                           int64
VAR7                           int64
Attrition_rate               float64
dtype: object

In [5]:
label=train['Attrition_rate']
train.drop(columns=['Employee_ID','Attrition_rate'],inplace=True)

In [6]:
df=pd.DataFrame(test['Employee_ID'])
test.drop(columns=['Employee_ID'],inplace=True)

In [7]:
train['Gender'].value_counts()

F    4114
M    2886
Name: Gender, dtype: int64

In [8]:
train['Relationship_Status'].value_counts()

Married    4520
Single     2480
Name: Relationship_Status, dtype: int64

In [9]:
train['Hometown'].value_counts()

Lebanon        2070
Springfield    1736
Franklin       1523
Washington     1106
Clinton         565
Name: Hometown, dtype: int64

In [10]:
train['Unit'].value_counts()

IT                           1394
Logistics                    1173
Sales                         943
Operarions                    706
R&D                           680
Purchasing                    504
Accounting and Finance        496
Human Resource Management     344
Marketing                     212
Production                    211
Quality                       193
Security                      144
Name: Unit, dtype: int64

In [11]:
train['Decision_skill_possess'].value_counts()

Conceptual    1756
Analytical    1755
Directive     1753
Behavioral    1736
Name: Decision_skill_possess, dtype: int64

In [12]:
train['Compensation_and_Benefits'].value_counts()

type2    3945
type3    2382
type4     353
type0     187
type1     133
Name: Compensation_and_Benefits, dtype: int64

In [13]:
le = LabelEncoder()
iteration={'Gender','Relationship_Status','Hometown','Unit','Decision_skill_possess','Compensation_and_Benefits'}
for i in iteration: 
    train[i] = le.fit_transform(train[i])
    test[i]=le.fit_transform(test[i])

In [14]:
print(train.isna().sum())

Gender                         0
Age                          412
Education_Level                0
Relationship_Status            0
Hometown                       0
Unit                           0
Decision_skill_possess         0
Time_of_service              144
Time_since_promotion           0
growth_rate                    0
Travel_Rate                    0
Post_Level                     0
Pay_Scale                      9
Compensation_and_Benefits      0
Work_Life_balance             11
VAR1                           0
VAR2                         577
VAR3                           0
VAR4                         656
VAR5                           0
VAR6                           0
VAR7                           0
dtype: int64

In [15]:
print(test.isna().sum())

Gender                         0
Age                          161
Education_Level                0
Relationship_Status            0
Hometown                       0
Unit                           0
Decision_skill_possess         0
Time_of_service               52
Time_since_promotion           0
growth_rate                    0
Travel_Rate                    0
Post_Level                     0
Pay_Scale                      3
Compensation_and_Benefits      0
Work_Life_balance              5
VAR1                           0
VAR2                         217
VAR3                           0
VAR4                         298
VAR5                           0
VAR6                           0
VAR7                           0
dtype: int64

In [16]:
test['Age'].fillna(test['Age'].mean(),inplace=True)
test['Time_of_service'].fillna(test['Time_of_service'].mean(),inplace=True)
test['Work_Life_balance'].fillna(test['Work_Life_balance'].mean(),inplace=True)
test['Pay_Scale'].fillna(test['Pay_Scale'].mean(),inplace=True)
test['VAR2'].fillna(test['VAR2'].mean(),inplace=True)
test['VAR4'].fillna(test['VAR4'].mean(),inplace=True)

In [17]:
train['Age'].fillna(train['Age'].mean(),inplace=True)
train['Time_of_service'].fillna(train['Time_of_service'].mean(),inplace=True)
train['Work_Life_balance'].fillna(train['Work_Life_balance'].mean(),inplace=True)
train['Pay_Scale'].fillna(train['Pay_Scale'].mean(),inplace=True)
train['VAR2'].fillna(train['VAR2'].mean(),inplace=True)
train['VAR4'].fillna(train['VAR4'].mean(),inplace=True)

In [18]:
print(train.isna().sum())
print(test.isna().sum())

Gender                       0
Age                          0
Education_Level              0
Relationship_Status          0
Hometown                     0
Unit                         0
Decision_skill_possess       0
Time_of_service              0
Time_since_promotion         0
growth_rate                  0
Travel_Rate                  0
Post_Level                   0
Pay_Scale                    0
Compensation_and_Benefits    0
Work_Life_balance            0
VAR1                         0
VAR2                         0
VAR3                         0
VAR4                         0
VAR5                         0
VAR6                         0
VAR7                         0
dtype: int64
Gender                       0
Age                          0
Education_Level              0
Relationship_Status          0
Hometown                     0
Unit                         0
Decision_skill_possess       0
Time_of_service              0
Time_since_promotion         0
growth_rate                  0
Travel_Rate                  0
Post_Level                   0
Pay_Scale                    0
Compensation_and_Benefits    0
Work_Life_balance            0
VAR1                         0
VAR2                         0
VAR3                         0
VAR4                         0
VAR5                         0
VAR6                         0
VAR7                         0
dtype: int64

In [19]:
train.head()

,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,0,42.0,4,0,1,2,2,4.0,4,33,...,7.0,2,3.0,4,0.7516,1.8688,2.000000,4,5,3
1,1,24.0,3,1,3,3,0,5.0,4,36,...,6.0,2,4.0,3,-0.9612,-0.4537,2.000000,3,5,3
2,0,58.0,3,0,0,8,2,27.0,3,51,...,8.0,2,1.0,4,-0.9612,-0.4537,3.000000,3,8,3
3,0,26.0,3,1,2,1,1,4.0,3,56,...,8.0,2,1.0,3,-1.8176,-0.4537,1.891078,3,7,3
4,0,31.0,1,0,3,3,2,5.0,4,62,...,2.0,3,3.0,1,0.7516,-0.4537,2.000000,2,8,2

In [20]:
test.head()

,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,0,32.0,5,1,3,9,2,7.0,4,30,...,4.0,2,1.0,3,-0.9612,-0.4537,2.0,1,8,4
1,1,65.0,2,1,2,2,3,41.0,2,72,...,1.0,2,1.0,4,-0.9612,0.7075,1.0,2,8,2
2,1,52.0,3,0,3,10,3,21.0,3,25,...,8.0,3,1.0,4,-0.1048,0.7075,2.0,1,9,3
3,1,50.0,5,1,4,4,0,11.0,4,28,...,2.0,0,4.0,3,-0.1048,0.7075,2.0,2,8,3
4,0,44.0,3,0,1,9,2,12.0,4,47,...,2.0,2,4.0,4,1.6081,0.7075,2.0,2,7,4

In [21]:
x_train,x_test,y_train,y_test=train_test_split(train,label,random_state=2)

# Randomforest

In [22]:
rt=RandomForestRegressor(n_estimators=100)
rt.fit(x_train,y_train)
y_train_pred1=rt.predict(x_test)

In [24]:
print("Accuracy:",100*max(0,1-sqrt(mean_squared_error(y_test, y_train_pred1))))

Accuracy: 81.40803297527069

In [25]:
y1=rt.predict(test)

# XgBoost

In [26]:
xg=XGBRegressor()
xg.fit(x_train,y_train)
y_train_pred2=xg.predict(x_test)

C:\Users\rajic\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[14:44:42] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [27]:
print("Accuracy:",100*max(0,1-sqrt(mean_squared_error(y_test, y_train_pred2))))

Accuracy: 81.67657351416493

In [28]:
y2=xg.predict(test)

# LightGBM

In [29]:
lb=ltb.LGBMRegressor()
lb.fit(x_train,y_train)
y_train_pred3=lb.predict(x_test)

In [30]:
print("Accuracy:",100*max(0,1-sqrt(mean_squared_error(y_test, y_train_pred3))))

Accuracy: 81.34796519561131

In [31]:
y3=lb.predict(test)

In [32]:
df.insert(1,"Attrition_rate",y1)
df.to_csv("reg-op.csv",index=False)

In [34]:
df['Attrition_rate']=y2
df.to_csv("xgb-op.csv",index=False)

In [35]:
df['Attrition_rate']=y3
df.to_csv("lgbm-op.csv",index=False)

In [36]:
y=0.3*y1+0.4*y2+0.3*y3

In [37]:
df['Attrition_rate']=y
df.to_csv("ensemble-op.csv",index=False)

In [40]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
y_train_pred3=lb.predict(x_test)

In [41]:
print("Accuracy:",100*max(0,1-sqrt(mean_squared_error(y_test, y_train_pred3))))

Accuracy: 81.34796519561131

In [42]:
y3=lr.predict(test)

In [43]:
df['Attrition_rate']=y3
df.to_csv("linear-op.csv",index=False)

In [44]:
from sklearn.linear_model import Lasso
lr=Lasso()
lr.fit(x_train,y_train)
y_train_pred3=lb.predict(x_test)

In [45]:
print("Accuracy:",100*max(0,1-sqrt(mean_squared_error(y_test, y_train_pred3))))
y3=lr.predict(test)
df['Attrition_rate']=y3
df.to_csv("lasso-op.csv",index=False)

Accuracy: 81.34796519561131

In [46]:
from sklearn.linear_model import Ridge
lr=Ridge()
lr.fit(x_train,y_train)
y_train_pred3=lb.predict(x_test)

In [47]:
print("Accuracy:",100*max(0,1-sqrt(mean_squared_error(y_test, y_train_pred3))))
y3=lr.predict(test)
df['Attrition_rate']=y3
df.to_csv("lasso-op.csv",index=False)

Accuracy: 81.34796519561131

In [48]:
from sklearn.linear_model import LassoLars
lr=LassoLars()
lr.fit(x_train,y_train)
y_train_pred3=lb.predict(x_test)

In [49]:
print("Accuracy:",100*max(0,1-sqrt(mean_squared_error(y_test, y_train_pred3))))
y3=lr.predict(test)
df['Attrition_rate']=y3
df.to_csv("lasso-op.csv",index=False)

Accuracy: 81.34796519561131

In [50]:
from sklearn.linear_model import BayesianRidge
lr=BayesianRidge()
lr.fit(x_train,y_train)
y_train_pred3=lb.predict(x_test)

In [51]:
print("Accuracy:",100*max(0,1-sqrt(mean_squared_error(y_test, y_train_pred3))))
y3=lr.predict(test)
df['Attrition_rate']=y3
df.to_csv("lasso-op.csv",index=False)

Accuracy: 81.34796519561131

In [53]:
from sklearn import svm
regr = svm.SVR()
regr.fit(x_train,y_train)
y_train_pred3=lb.predict(x_test)

C:\Users\rajic\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [54]:
print("Accuracy:",100*max(0,1-sqrt(mean_squared_error(y_test, y_train_pred3))))
y3=lr.predict(test)
df['Attrition_rate']=y3
df.to_csv("lasso-op.csv",index=False)

Accuracy: 81.34796519561131